/* Style the card using
    position,
    padding,
    margin,
    line-height,
    border
 */


.container {
    position: relative;
    padding: 30px;
    margin: 100px 20px; 
    line-height: 1.5;
    border: 1px solid #ccc;
    width: 300px; 
    height: 200px; 
}

.sticker {
    position: absolute;
    top: -77px; 
    left: 0; 
    padding: 5px 10px; 
    border: 1px solid #ccc;
    
}

